<div class="container text-center mt-4">
  <h1>Alunos</h1>
  <% if params[:query] != nil %>
    <% @alunos = @lista %>
    <% if @alunos %>
      <% @alunos.each do |aluno| %>
        <% if I18n.transliterate(aluno).upcase.include?(params[:query].upcase) %>
          <%= link_to aluno, sala_aluno_path(Aluno.find_by(name: aluno).sala_id, Aluno.find_by(name: aluno)) %>
        <% end %>
        <br>
      <% end %>
    <% end %>
  <% end %>
</div>
