<h1>Professsors#edit</h1>
<p>Find me in app/views/professsors/edit.html.erb</p>
<%= simple_form_for [@sala, @prof] do |f| %>
  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.submit %>
<% end %>
